folhadeestilo.css
/*resete*/
*{  margin: 0; 
    padding: 0; 
    font-size: 100%; 
    border: none; 
    outline: none;
    font-weight: 300; 
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif;}
    
body { 
    background-image: url(../img/fundo.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;}
ul{ list-style: none}
a{  text-decoration: none;
    font-style: italic; }
img{max-width: 100%;}
/*ícone da página*/
.icone{
    width:56%; 
    height: 56px; 
    margin-left: 2px; 
    float: left; 
    background: url("../img/icone.png") left center/56px no-repeat; 
    font-size: 0;}
/*Cabeçalho*/
.cabecalho{
    position:fixed;
    width: 100% ;
    margin-top: -10px;
    margin-left: -8px;
    float: left;
    padding: 2px 20px;
    background:black;
    box-shadow:5px 5px 15px 5px rgb(4, 0, 255)}
.logo{
    width: 120px; 
    height: 60px; 
    margin-left: 3px; 
    margin-top: 10px; 
    float: left; 
    background: url("../img/logo.png") left center/120px no-repeat; 
    font-size: 0;}
.btn-menu{
    width: 50px; 
    height: 45px; 
    margin-top: 12px; 
    margin-right: 50px; 
    float: right;  
    text-align: center; 
    color: rgb(255, 0, 0); 
    cursor: pointer; 
    background: linear-gradient(to right,black,transparent,rgb(47, 0, 255), transparent, black);
    box-shadow:5px 5px 25px 2px rgb(4, 0, 255);}
/*Menu*/

.menu{ 
    box-shadow:5px 10px 25px 10px rgb(4, 0, 255);
    display:none;
    width:100%; 
    height: 100%;
    position: fixed; 
    background-color: rgba(0,0,0,0.9);
    top:0;
    left: 0;
    margin-bottom: 1%;
    }
.btn-close{
    font-size: 1.5em; 
    color:#fff; 
    float: right; 
    cursor: pointer;
    margin: 1% 0% 0 0;}
.menu ul{
    width:100%; 
    text-align: center;
    padding: 5px 0 0 0 ;
    margin-top:60px;
   }
.menu li{padding: 5px;}
.menu li a{
    display: block;
    font-size: 2em; 
    color: rgb(55, 0, 255); 
    padding: 0% 0%}
.menu li a:hover{
        display: block;
        border: 0px solid rgb(43, 0, 185);
        box-shadow:2px 2px 15px 5px rgb(255, 0, 0); 
        border-radius: 10px;}

/*.menu ul ul {display: none;} sumir com submenu*/

/*Serviços*/
.container{
    width: 100%; 
    float: left;
    padding:0;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;}
.servico{
    width: 300px;
    float:center; 
    border: 1px solid black;
    box-shadow:2px 2px 25px 2px rgb(4, 0, 255); 
    text-align: center; 
    border-radius: 7px; 
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 1px;}
.servico img {
    border-radius: 7px 7px 0 0;
    margin:3% 0% -1% -1%;
    max-width: 100%; 
    width: 400px; 
    height: 400px; 
    object-fit: cover;}
.inner {
    padding: 5%;
    text-align:center;}
.inner a{
    font-size: 3em;
    color:rgb(255, 255, 255); 
    text-shadow:1px 3px 3px rgb(0, 0, 0); 
    font-weight: 700;}
.inner p{
    font-size: 1.8em;
    margin-top: 2%;
    color:rgb(255, 217, 0); 
    text-shadow:1px 3px 3px rgb(0, 0, 0); 
    font-weight: 700;
    text-align: left;}
/*Newsletter*/
.section{width: auto;height: auto;}
.newsletter {
    width: 100%; 
    border: 2px solid black; 
    float: left; 
    text-align: center;
    margin-left: -5%; 
    padding: 0 4%; 
    text-align: center;margin-bottom:-10% ;
    background-color: black;} 
.newsletter h2{
    font-size: 1.5em;
    color:rgb(253, 249, 249);
    font-weight: 700;}
.newsletter h3{color:rgb(253, 249, 249); }
.newsletter form{margin-top:0;}
.newsletter input{
    width:40%; 
    font-size: 20px; 
    background-color: #ada7a6;color:rgb(4, 0, 255); 
    border: 1.5mm ridge rgba(0, 0, 255.13); 
    padding: 1%;
    border-radius: 100px;}
.newsletter button{
    width:1%;
    font-size: 10px; 
    background-color: #ada7a6;
    color:rgb(189, 51, 51); 
    border: 1.5mm ridge rgba(0, 0, 255.13); 
    padding: 1%; 
    border-radius: 100px; 
    cursor: pointer;}
/*Rodapé*/
.rodape{
    width:100%;
    float: left;
    padding: 1% 4%; 
    text-align: center;
    margin-left: -5%;
    color: cornsilk;
    background-color: black;}

.social-icons a{
    font-size: 2em;
    color: red;
    cursor: pointer;}
/*celulares pequenos*/
@media screen and (min-width: 260px) {
    .homenoticias{margin-top: 25%;text-align: center;width: 100%;}
    .homenoticiasinner{text-align: center;}
    .container{margin-top: 30%;}
   
}   
@media screen and (min-width: 320px) {

    .container{margin-top: 25%}
    .homenoticias{margin-top: 25%; float: center;text-align: center;}
    .homenoticiasinner{text-align: center;}
    .homenoticiasinner{float: center;}
    .logo {width: 120px;background: url("../img/logo.png") center center/120px no-repeat ;}
    .btn {font-size: 2em;}
    .newsletter button{font-size: 10px} 
}

@media screen and (min-width: 380px) {
    .container{margin-top: 18%}
    .homenoticias{margin-top: 18%;float: center;text-align: center;}
    .homenoticiasinner{text-align: center;}
    .logo {width: 120px; background: url("../img/logo.png") center center/120px no-repeat ;}
    .btn {font-size: 2em;}
    .newsletter button{font-size: 13px}
}
@media screen and (min-width: 430px) {
    .container{margin-top: 14%}
    .homenoticias{margin-top: 15%;float: center;text-align: center;}
    .homenoticiasinner{text-align: center;}
    .logo {width: 120px; background: url("../img/logo.png") center center/120px no-repeat ;}
    .btn {font-size: 2em;}
    .newsletter button{font-size: 17px}
}            
/*celulares e tablets menores*/
@media screen and (min-width: 450px) {

}
@media screen and (min-width: 500px) {
    
    .container{margin-top: 13%;}
    .homenoticias{margin-top: 13%;}
    .homenoticiasinner{text-align: center;}
    
    .servico {width: 48%; float: left; margin-right: 1%;}
    .btn-close{margin: 15px;}
}
@media screen and (min-width: 550px) {
    .container{margin-top: 10%;}
    .homenoticias{margin-top: 10%;}
}
@media screen and (min-width: 630px) {  
    

}
@media screen and (min-width: 670px) {
    .container{margin-top: 8%;}
    .homenoticias{width: 90%;margin-top: 0%;float:center;}
    .homenoticiasinner{float:center;}
    .homenoticiasinner h4{padding-top: 5px;margin-right: 10%;}
    .homenoticiasinner a{padding-top: 5px;margin-right: 10%;}
    .homenoticias img{width:30%;height: 250px;float: left;}
}
  _  
/*dispositivos médios*/
 @media screen and (min-width: 768px) {

    .homenoticias{width: 90%;margin-top:9%;float:center;}
    .homenoticiasinner{float:center;}
    .servico{width: 49%;margin-top: 1px; float: left; margin-right: 0%;}
    .servico:nth-child(2){margin-right: 0;}
    .servico:nth-child(3){margin-right: 0; }
    .servico:nth-child(4){margin-right: 0; }
    .servico:nth-child(5){margin-right: 0; }
    .servico:nth-child(6){margin-right: 0; }
    .newsletter h2{font-size: 2.5em;}
    .newsletter h3{font-size: 1.5em;}
    .newsletter input{font-size: 30px; margin-left: 5px;}
    .newsletter button{width:29%;padding: 2%; float: right; margin-top: 0;font-size: 30px; margin-block-end: 10%;}
    .container{margin-top: 5%;}
    
    
}
/*dispositivos grandes*/
@media screen and (min-width: 1044px) {
    .logo{width: 120px; height: 60px; margin-right: 50px; margin-top: 10px; float: right; background: url("../img/logo.png") right center/120px no-repeat; font-size: 0;}
    .btn-menu{display: none;}
    .btn-close{display: none;}
    .cabecalho{padding: 0;}
    .menu{width: auto;border-radius: 20px ; display: block !important; position: static ; float:center; display:flex;margin-top: -2%;}
    .menu li{ float: left;}
    .menu li a{color: rgb(255, 255, 255);font-size: 20px;padding: 5px;}
    .menu li a:hover{color: rgb(255, 255, 255);}
    .container{margin-top: 10%;}
    .servico {width: 33%;margin-top: -20px; float: left; margin-right: 0%;}
    .newsletter h2{font-size: 2.5em;}
    .newsletter h3{font-size: 1.5em;}
    .newsletter input{font-size: 30px; margin-left: 5px;}
    .newsletter button{width:29%;padding: 1% ; float: center; margin-top: 0;font-size: 30px; margin-block-end: 11%;}
}     